h1{ font-size: 72px;
	font-family: Arial;
	color: #FF4500;
	text-align: center;
}
h3{
	font-size: 26px;
	color: #FF4500;
}
body {
	background-color: #262626;
}
p{  font-size: 24px;
	font-family: Times;
	color: white;
	text-align: center;
}
ol{
	font-size: 18px;
	font-family: Times;
	text-align: center;
	list-style-type: none;
}
ul{
	font-size: 24px;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.no-item{
	list-style-type: none;
}